.Form {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Form label {
  font-size: 20px;
  margin: 20px;
}

.Form input {
  margin-left: 20px;
  height: 25px;
  font-size: 15px;
}
