* {
  box-sizing: border-box;
}

.header {
  background-color: rgb(112, 70, 106);
  margin-top: 0px;
}

li {
  color: white;
  display: inline-block;
  margin: 20px;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: blanchedalmond;
}
